{% extends 'layout.html' %}
{% block content %}
<div class="b_main">
    <h1>Blogs by Manish Upreti</h1>
    <div class="blogItem">
        <h2>Learn Javascript in fun</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ea cumque expedita voluptatibus, animi earum
            sapiente nisi perferendis magni! Sapiente, officiis expedita. Vero?</p>
            <button>Read More</button>
    </div>
    <div class="blogItem">
        <h2>Learn Javascript in fun</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ea cumque expedita voluptatibus, animi earum
            sapiente nisi perferendis magni! Sapiente, officiis expedita. Vero?</p>
            <button>Read More</button>
    </div>
    <div class="blogItem">
        <h2>Learn Javascript in fun</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ea cumque expedita voluptatibus, animi earum
            sapiente nisi perferendis magni! Sapiente, officiis expedita. Vero?</p>
            <button>Read More</button>
    </div>
    <div class="blogItem">
        <h2>Learn Javascript in fun</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ea cumque expedita voluptatibus, animi earum
            sapiente nisi perferendis magni! Sapiente, officiis expedita. Vero?</p>
            <button>Read More</button>
    </div>
</div>
{% endblock %}