
{% extends 'layout.html' %}
{% load static %}
{% block content %}


<div class="main">

    <div class="infoContainer">
           <div class="devInfo">
              <div class="hello">Hello, My name is </div>
              <div class="name">Manish Upreti</div>
              <div class="about">Software Developer</div>
              <div class="more_about">I love to play badminton</div>
              <div class="buttons">
                   <button>Download CV</button>
                   <button>Contact</button>
              </div>
           </div>
           <div class="devPic">
                <img src="{% static 'manish.png' %}" alt="Manish " height="100%" style="border-radius:30%">
           </div>
    
    </div>
 </div>
 
{% endblock %}