{% extends 'layout.html' %}
{% block content %}
{% load static %}
<div class="i_main">
    <div class="devAbout">
        <h1>About me</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti laborum sunt aliquid omnis dolorum dolor,
            quis
            aut, unde, alias ipsa amet aperiam itaque nostrum! Magnam culpa harum maxime commodi, ratione deleniti, ex
            architecto similique soluta placeat debitis.</p>
        <div class="skillContainer">
            <h2 id="skillH2">My Skills</h2>
            <div class="skillItem">
                <div class="meter"> C++: 
                    <div class="skill"></div>
                    <div class="fifty"></div>
                </div>
            </div>
            <div class="skillItem">
                <div class="meter"> Python: 
                    <div class="skill"></div>
                    <div class="t5"></div>
                </div>
            </div>
            <div class="skillItem">
                <div class="meter"> HTML: 
                    <div class="skill">  </div>
                    <div class="sevenT5"></div>
                </div>
            </div>
            <div class="skillItem">
                <div class="meter"> CSS: 
                    <div class="skill">  </div>
                    <div class="sevenT5"></div>
                </div>
            </div>
            <div class="skillItem">
                <div class="meter"> JAVASCRIPT: 
                    <div class="skill">  </div>
                    <div class="sevenT5"></div>
                </div>
            </div>

        </div>
        <div class="MyProjects">
            <d class="v head"><h2>My Projects</h2></d>
              <div>1</div>
              <div>2</div>
              <div>3</div>
              <div>4</div>
        </div>
    </div>
    <div class="devPic">
        <img src="{% static 'manish.png' %}" alt="Manish " height="100%" style="border-radius:30%">
    </div>
</div>

{% endblock %}